body {
    background-color: #F8F9FA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#007BFF;
    color: white;
}
header nav{
    display: flex;
}
header nav a{
    color: white;
    text-decoration: none;
    margin-top : -10px;
    padding: 10px 30px;
    font-size: larger;
}
footer {
    background-color: #343A40;
    margin-bottom: -100px;
    color: white;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}